<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
         <!-- font-awesome -->
         <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
         <!-- /font-awesome -->
         
        <title>Vue To Do List</title>
        <link rel="stylesheet" href="style.css">

    </head>
    <body>

        <div id="root" class="big-container">

            <header>
                <div class="logo-bool">
                    <img src="logo.png" alt="">
                </div>
                <div class="search">
                    <input v-model="newTodo" type="text" placeholder="Nuovo Todo">
                    <button @click="addTodo()">Aggiungi</button>
                </div>
            </header>
            <main>
                <div class="container-todos">
                    <ul v-if="todos.length" class="todos-list">
                        <li v-for="(todo, index) in todos" :key="index">{{todo}} <i class="fas fa-times" @click="removeTodo(index)"></i></li>
                    </ul>
                    <h3 v-else> Non ci sono todo</h3>
                </div>
            </main>
        </div>

        <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
        <script src="main.js"></script>
    </body>
</html>